<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>email ejs template</title>
</head>
<body>
    <h1> welcome!! 자여기서 ejs가 치환하기 데이터로 치환하기 위한 문법을 씁니다. </h1>
    <h1> <%= email %></h1>
</body>
</html>