<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>main.html</title>
</head>
<body>  
    <h1>main page</h1>

    <h3>welcome , <%= id %> 번째 가입고객님!!</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid harum, suscipit cupiditate, magnam vel quia deleniti, aliquam quisquam illum doloremque temporibus molestias nobis excepturi dignissimos! Blanditiis vel quo assumenda.
    Aliquid et accusamus ad odio, saepe fugiat voluptate autem natus animi ab nesciunt exercitationem ex cum obcaecati earum debitis expedita maxime ducimus nemo? Molestias harum quam tempore ducimus, fuga quasi.
    Aliquam, obcaecati beatae. A nemo dolorum esse ad, aspernatur quia dicta dolore! Doloribus quidem molestias fugiat neque consectetur, dignissimos quaerat, quasi, aliquam quod delectus voluptates repudiandae sed porro eos deleniti.


    스태틱 파일의 처리 
    <img src="images/banner (1).jpg" alt="">

    <div><a href="/logout">logout</a></div>
    <!-- 로그아웃은 이렇게 url 로 서버에서 라우팅을 받아서 거기서 정보를 처리 할 수있게 해주는게 좋음 -->

    <script src="main.js"></script>

</body>
</html>